---
layout: default
title: Blog
things_i_like: things_i_like_list.html
quote: travel
---

<!-- Banner -->

<section id="banner" style="background-image: url('images/nasa-satellite.jpg')" class="shrunk">
	<div class="inner">
		<h1>Blog</h1>
		<div class="inner">
			<a href="#blogstart" class="icon fa-chevron-down special scrolly align-center"></a>
		</div>
	</div>
</section>

<section id="blogstart" class="wrapper style2">
	<div class="inner">
		<header class="align-center">
			<h3>My Writing</h3>
		</header>
		<div class="section group">
			<div class="col span_2_of_3">
				<main class="main">
				<div class="card-container">
					{% for post in site.posts %}
					<div class="city">
						<a href="{{ post.url }}">
						<div class="post-description">
							<p>{{ post.excerpt | strip_html }}</p>
						</div>
						<div class="city-image">
							<img src={{ post.thumbnail }} alt="city">
						</div>
						<div class="description">
							<p class="post-title">{{ post.title }}</p>
						</div>
						</a>
					</div>
					{% endfor %}
				</div>
				</main>
			</div>
			<div class="col span_1_of_3">
				{% if page.things_i_like %}
				{% include {{ page.things_i_like }} %}
				{% endif %}
			</div>
		</div>
	</div>
</section>

{% assign quote_content = site.data.quotes[page.quote].content %}
{% assign quote_author = site.data.quotes[page.quote].author %}
{% include quotes_template.html content=quote_content author=quote_author %}


