<div class="4u$ -2u">
    <div class="image fit">
            <img src="images/IMG-20181007-WA0003.jpg" alt="" />
    </div>
    <div class="content">
        <header class="align-center">
            <h3>Things I like</h3>
        </header>
        <hr />
        <ol>
            <li>Watermelons</li>
            <li>Being in the water</li>
            <li>Hiking and trekking</li>
            <li>Mangoes</li>
            <li>Being a traveller, not a tourist</li>
            <li>Dogs</li>
            <li>Harry Potter</li>
            <li>My ever-growing spotify playlist</li>
            <li>Swimming</li>
            <li>Stand up</li>
        </ol>
    </div>

</div>