<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://kit.fontawesome.com/62a273e8c1.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>


    <!-- Header -->
        <header id="header" class="alt">
            <div class="logo"><a href="index.html">Varsha Shankar's <span>Website</span></a></div>
            <a href="index.html" class="icon fa-home"></a>
            <a href="about.html">About</a>
            <a href="resume.html">Resume</a>
            <a href="blog.html">Blog</a>
            <a href="contact.html">Contact</a>
            <a href="#menu" class="toggle"><span>Menu</span></a>
        </header>

    <!-- Nav -->
        <nav id="menu">
            <ul class="links">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>

        {{ content }}

        <footer id="footer" class="wrapper">
            <div class="inner">
                <div class="copyright">
                    <a class="minorcopyright" href="credits.html">Credits</a>
                    <div class="maincopyright">
                        <span>&copy; Varsha Shankar 2020</span>
                        <a href="https://github.com/vshanks" class="dark_main_color icon fa-github-square fa-2x"></a>
                        <a href="http://linkedin.com/in/varshashankar" class="dark_main_color icon fa-linkedin fa-2x"></a>
                    </div>
                </div>
            </div>
        </footer>

    <!-- Scripts -->
        <script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
        <script src="assets/js/contact_formspree.js"></script>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
        <script type="text/javascript" src="assets/js/particle-snow.js"></script>
        <script type="text/javascript" src="assets/js/scroll_to_top.js"></script>
	</body>
</html>